@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,700&family=Raleway:ital@0;1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.little-container-style {
  display: flex;
  flex-direction: column;
  padding: 23px;
  background-color: #f8f8fe;
}
.fylo-style.fylo-style {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
}
.fylo-logo-style {
  width: 50px;
  height: 18px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-box {
  padding: 10px;
  border-radius: 0.63px;
}
.form-box input {
  font-size: 18px;
  color: #c2c2c2;
  padding: 15px 10px;
  height: 40px;
  width: 304px;
  font-size: 12px;
}
.list-style {
  font-size: 12px;
  font-family: Raleway;
}
.all-your-files-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.image-document-style {
  width: 100%;
}
.secure-location-style {
  font-weight: 700;
  font-family: Open Sans;
  width: 320px;
  height: 108px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-left: 15px;
}
.fylo-stores-style {
  width: 296px;
  height: 84px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-left: 16px;
}
.get-started-button {
  display: flex;
  justify-content: center;
}
.button-style {
  background-color: #2f65f8;
  width: 304px;
  height: 40px;
  color: white;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 700;
}
.all-your-files-two-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.stay-style {
  display: flex;
  justify-content: center;
}
.paragraphe-style {
  width: 320px;
  height: 63px;
  line-height: 21px;
  color: #615f7e;
}
.paragraphe-two-style {
  width: 320px;
  height: 63px;
  line-height: 21px;
  color: #615f7e;
}
.arrow-style {
  width: 12px;
  height: 12px;
}
.fylo-arrow-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fylo-works-style {
  font-size: 12px;
  color: #3da08f;
}
.line-style {
  display: flex;
  justify-content: center;
}
.horizontal-line {
  width: 130px;
  height: 1px;
  background: #3da08f;
}
.info-style {
  width: 280px;
  height: 169.1px;
  background-color: #ffffff;
  margin-left: 23px;
}
.paragraphe-three-style {
  width: 241.3px;
  height: 73px;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 18.09px;
  text-align: left;
  color: #07043b;
  padding: 18px;
}
.kyle-info-style {
  display: flex;
  gap: 11px;
  margin-left: 17px;
}
.burton-info-style {
  display: flex;
  flex-direction: column;
}
.info-one-style {
  width: 58px;
  height: 12px;
  font-family: Open Sans;
  font-size: 9px;
  font-weight: 700;
  text-align: left;
  color: #07043b;
}
.info-two-style {
  width: 73px;
  height: 12px;
  font-family: Open Sans;
  font-size: 6px;
  font-weight: 400;
  text-align: left;
  color: #07043b;
}
.image-kyle-burton-style {
  width: 24px;
  height: 24px;
  border-radius: 13px;
}
.get-ready-style {
  background-color: #575988;
  width: 100%;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.get-style {
  color: white;
  margin-top: 54px;
}
.paragraphe-fourth-style {
  width: 280px;
  height: 84px;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}
.box-one-style {
  display: flex;
  justify-content: center;
}
.form-one-box input {
  width: 240px;
  height: 32px;
  color: #c0c0c0;
}
.get-started-two-button {
  display: flex;
  justify-content: center;
}
.button-one-style {
  width: 240px;
  height: 32px;
  background-color: #2f65f8;
  color: white;
  margin-top: -18px;
}
.about-us-style {
  background-color: #07043b;
  width: 100%;
  height: 590px;
  display: flex;
  flex-direction: column;
  padding: 51px;
}
.fylo-icons-style {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.fylo-logo-two-style {
  width: 59px;
  height: 30px;
}
.about-us-info {
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 61px;
}
.call-style {
  display: flex;
  margin-top: 16px;
  gap: 12px;
}
.email-style {
  display: flex;
  margin-top: -49px;
  gap: 11px;
}
.jobs-style {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.contact-us-style {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.icons-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  margin-top: -3px;
}
.fylo-desktop-style {
  display: none;
}
.fylo-two-desktop-style {
  display: none;
}
.desktop-image-style {
  display: none;
}
.desktop-ilustration-style {
  display: none;
}
@media (min-width: 1024px) {
  .fylo-logo-style {
    display: none;
  }
  .fylo-desktop-style {
    display: block;
  }
  .fylo-two-desktop-style {
    display: block;
  }
  .fylo-two-desktop {
    display: flex;
    flex-direction: row;
    gap: 13px;
  }
  .list-style {
    font-size: 16px;
  }
  .image-document-style {
    display: none;
  }
  .desktop-image-style {
    display: block;
  }
  .all-your-files-style {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .fylo-secure-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 19px;
  }
  .secure-location-style {
    width: 627px;
    height: 120px;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
  }
  .fylo-stores-style {
    width: 585px;
    height: 72px;
    font-family: Open Sans;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.53125px;
    text-align: left;
  }
  .email-get-started-style {
    display: flex;
    align-items: center;
  }
  .form-box input {
    width: 320px;
  }
  .button-style {
    width: 200px;
  }
  .mobile-ilustration-style {
    display: none;
  }
  .desktop-ilustration-style {
    display: block;
  }
  .all-your-files-two-style {
    flex-direction: row-reverse;
  }
  .second-paragraph-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .stay-style {
    width: 648px;
    height: 47px;
    font-size: 40px;
  }
  .paragraphe-style {
    width: 529px;
    height: 48px;
  }
  .paragraphe-two-style {
    width: 529px;
    height: 48px;
  }
  .arrow-work-style {
    width: 166px;
    height: 27px;
    display: flex;
    flex-direction: column;
    gap: 11px;
  }
  .get-style {
    width: 347px;
    height: 48px;
    font-size: 32px;
    display: flex;
    align-self: self-start;
  }
  .paragraphe-fourth-style {
    width: 533px;
    height: 72px;
    line-height: 24px;
    font-size: 16px;
  }
  .form-one-box input {
    width: 480px;
    height: 48px;
  }
  .button-one-style {
    width: 200px;
    height: 48px;
    background-color: #6c9bff;
  }
  .get-ready-style {
    flex-direction: row;
    justify-content: space-around;
  }
  .access-today-style {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .for-free-style {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 63px;
  }
  .about-us-style {
    height: 300px;
  }
  .about-us-info {
    margin-top: 100px;
    margin-left: -92px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .call-email-style {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
